{# بسم الله الرحمن الرحيم #}
{# la ilaha illa Allah Mohammed Rassoul Allah #}
{% extends 'base.html.twig' %}
{% block title %} BismiAllah: {{ bismi_allah.name }} {% endblock %}

{% block body %}
    <h1>بسم الله الرحمن الرحيم</h1>
    <p><b>id:</b> {{ bismi_allah.id }}</p>
    <p><b>name:</b> {{ bismi_allah.name }}</p>
    <p><b>status:</b> {{ bismi_allah.status.value }}</p>
    <p><b>status image:</b> {{ bismi_allah.statusImageFileName }}</p>
    {# <img src="{{ asset(bismi_allah.statusImageFileName) }}" > #}
    
{% endblock %}
